{% extends 'main/base.html' %}

{% block content %}


<div>

<h2>Instructions for the Valence-Arousal labeling task </h2>

<p> You are asked to label financial-news sentences along two dimensions: Valence (negative to positive) and Arousal (mild to intense). The image below shows an illustration of how you can visualize these dimensions: </p>

    <img src="https://www.researchgate.net/publication/336815371/figure/fig3/AS:829187623514113@1574705143575/The-Valence-and-Arousal-of-the-SAM-a-Valence-and-b-Arousal.png" alt="vaschema" style="width:500px;height:300px;">

    <h3> General advise </h3>

    <ul>
        <li> Valence and Arousal are independent dimension. Try to the best of your ability to consider both dimension independently. For instance, a sentence can express very positive or negative sentiment, while being mild (e.g,. consider sentences expressing boredom or serenity).
        <li> Pay attention to the language of the sentence, rather than inferring about the meaning of the content (including numbers). Do not use any background/contextual information you might be aware of.
    </ul>

<p> ___________________________________________________________________________________________________________________________________________________________ </p>

    <h3> Labeling Valence </h3>

    <h4> Guiding question: As an investor, how positive/negative would I view this sentence?</h4>

    <strong> Indicators of high valence (positive/very positive): </strong>
    <ul>
        <li> Words of praise/excitement/thrill. </li>
        <li> Optimistic attitude. </li>
        <li> Use of positive words and word modifiers. </li>
        <li> Associated emotions: happiness, content, excitement, relaxed </li>
    </ul>

    <h5> Example sentence: 'Comcast Corp, which is seeking regulatory approval for its $45.2 billion bid for Time Warner Cable, reported a betterthanexpected profit last week, citing the highest number of customer additions for its highspeed Internet in six years.'</h5>
    <strong>Indicators of low valence (very negative/negative)</strong>
    <ul>
        <li> Use of negative words and word modifiers. </li>
        <li> Showing dismissive/pessimistic attitude. </li>
        <li> Associated emotions: boredom, anger, frustration, depression </li>

    </ul>

    <h5> Example sentence: 'At the hearing's conclusion, Diogo called Volkswagen's testimony "absolutely unsatisfactory"'.</h5>


<p> ___________________________________________________________________________________________________________________________________________________________ </p>

    <h3> Labeling arousal </h3>

    <h4> Guiding question: As an investor, how intense/mild do I think this sentence is?</h4>

    <strong>Indicators of high arousal (intense/very intense):</strong>
    <ul>
        <li> strong emotive language </li>
        <li> high degree of uncertainy/excitement/surprise/fear </li>
        <li> Use of amplifying words (e.g. extremely, very, extraordinarily, ...) </li>
        <li> sense of urgency/ immediate action </li>
        <li> Associated emotions: excitement, anger, awe, anxiety, fear </li>
    </ul>

    <h5> Example sentence: 'The management shakeup comes a week after the No. 2 U.S. bank by assets reported its biggest quarterly profit in nearly four years as expenses fell to their lowest since the financial crisis.'</h5>

    <strong>Indicators of low arousal (mild)</strong>
    <ul>
        <li> Weak language </li>
        <li> Language indicates caution/stagnation </li>
        <li> No indication of dynamism/ movement </li>
        <li> Associated emotions: contentment, boredom, sadness, melanchony </li>
    </ul>

    <h5> Example sentence: 'Schoch said the company took such actions in the first quarter, but noted that they were immaterial and declined to give details.' </h5>

<p> ___________________________________________________________________________________________________________________________________________________________ </p>


    <h3>Perspective</h3>

    <p> Each sentence is about some entity in the equity markets, which could be a company, region or the market itself.
        Please consider how you perceive the sentiment if you were an investor who already has a stake in the entity.
        For instance, if a sentence talks about a stock underperforming, view this as negative news and not positive news as a potential buying opportunity. </p>


<p> ___________________________________________________________________________________________________________________________________________________________ </p>

    <h3> Emotional categories </h3>
    <p> The image below shows how the Valence and Arousal dimensions can be mapped back to emotional categories. </p>
    <img src="https://upload.wikimedia.org/wikipedia/commons/6/6c/Valence-Arousal_Circumplex.jpg" alt="vamapping" style="width:500px;height:300px;">


</div>

{% endblock %}