{% extends 'main/base.html' %}

{% block content %}

<p class="display-5"> Valence-Arousal Labeling Tool </p>
<p>_________________________________________________________________________________________________________________________________</p>


<img src="https://www.managementimpact.nl/content/uploads/2020/06/time-out.jpg" alt="timeout" style="width:500px;height:300px;">


<form method="post" action="">
    {% csrf_token %}

    <div class="d-grid gap-2 col-6 mx-auto">
      <button class="btn btn-dark" type="submit" name="start">Bring me back to the start...</button>
    </div>



</form>


{% endblock %}